force-apps/deploy/main/default/flows/FlowLWC.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>AssignValue</name>
        <label>Assign Value</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>txtCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FlowData</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LWC</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>LoopAgain</name>
        <label>Loop Again?</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNextLoop.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>FlowScreen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>LWC + Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow + LWC</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>FlowScreen</name>
        <label>Flow</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignValue</targetReference>
        </connector>
        <fields>
            <name>FlowData</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>txtCounter</elementReference>
            </defaultValue>
            <fieldText>Flow Data</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>LWC</name>
        <label>LWC</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>LoopAgain</targetReference>
        </connector>
        <fields>
            <name>X</name>
            <extensionName>c:flowElement</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>intCounter</name>
                <value>
                    <elementReference>intCounter</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>txtCounter</name>
                <value>
                    <elementReference>txtCounter</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>intCounter</assignToReference>
                <name>intCounter</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>txtCounter</assignToReference>
                <name>txtCounter</name>
            </outputParameters>
        </fields>
        <fields>
            <name>IsNextLoop</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Loop again?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>FlowScreen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>intCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>txtCounter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>5</stringValue>
        </value>
    </variables>
</Flow>
