force-apps/deploy/main/default/flows/NotifyOnDelivery.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign010</name>
        <label>Assign010 Create Message</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>NewMessage.EntityName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Delivery__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewMessage.EntityName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create010</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Notify On Delivery {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Notify On Delivery</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create010</name>
        <label>Create010 Publish Event</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <inputReference>NewMessage</inputReference>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign010</targetReference>
        </connector>
        <object>Delivery__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>NewMessage</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NotifySocket__e</objectType>
    </variables>
</Flow>
