SALESFORCE/force-apps/deploy/main/default/flows/Assign_Name_to_Instructor.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign010</name>
        <label>Assign010 Set the Name</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalculateName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IF010</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign020</name>
        <label>Assign020 Add Nickname</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalculateNameWithNickname</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>IF010</name>
        <label>IF010 Has Nickname?</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>IF010_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Nickname__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign020</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CalculateName</name>
        <dataType>String</dataType>
        <expression>{!$Record.FirstName__c} + &quot; &quot; + {!$Record.LastName__c}</expression>
    </formulas>
    <formulas>
        <name>CalculateNameWithNickname</name>
        <dataType>String</dataType>
        <expression>{!$Record.Nickname__c} + &quot; (&quot; + {!$Record.Name} + &quot;)&quot;</expression>
    </formulas>
    <interviewLabel>Assign Name to Instructor {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assign Name to Instructor</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign010</targetReference>
        </connector>
        <object>Instructor__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
