SALESFORCE/force-apps/deploy/main/default/flows/CreateInstructorAsAttendeeForDelivery.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign010</name>
        <label>Assign010 Create Instructor</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>Instructor.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Instructor__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Instructor.Delivery__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Instructor.IsInstructor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert010</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Create instructor as attendee for delivery {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create instructor as attendee for delivery</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert010</name>
        <label>Insert010 DML instructor</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <inputReference>Instructor</inputReference>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign010</targetReference>
        </connector>
        <object>Delivery__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Instructor</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Student__c</objectType>
    </variables>
</Flow>
